body {
    font-family: Arial;
    height: 2000px;
    margin: 0;
}

.navbar {
    background-color: royalblue;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    position: fixed;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.logo-name {
    margin-left: 10px;
}

aside {
    background-color: rgb(131, 154, 224);
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    float: left;
}

ul {
    margin-top: 80px;
    padding: 0;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-bell , .fa-html5 , .fa-cart-plus , .fa-ambulance , .fa-algolia , .fa-adjust {
    margin-left: 50px;
    font-size: 30px;
}

li>a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 40px 90px 40px 20px;
    font-size: 30px;
    font-weight: bolder;
}

.home {
    background-color: rgb(199, 206, 226);
}

li a:hover {
    color: white;
    transition: all 0.5s ease;
}

.home:hover {
    background-color: rgb(38, 54, 83);
    color: white;
    border-left: solid 10px white;
    transition: all 0.5s ease;
}

.about:hover {
    background-color: rgb(81, 91, 121);
    color: white;
    border-left: solid 10px white;
    transition: all 0.5s ease;
}

.tutorial:hover {
    background-color: rgb(81, 91, 121);
    color: white;
    border-left: solid 10px white;
    transition: all 0.5s ease;
}

.lab:hover {
    background-color: rgb(81, 91, 121);
    color: white;
    border-left: solid 10px white;
    transition: all 0.5s ease;
}

.blog:hover {
    background-color: rgb(81, 91, 121);
    color: white;
    border-left: solid 10px white;
    transition: all 0.5s ease;
}

.contact:hover {
    background-color: rgb(81, 91, 121);
    color: white;
    border-left: solid 10px white;
    transition: all 0.5s ease;
}

main {
    background-image: url('https://4.bp.blogspot.com/-EgeRoijBiiY/W1SY6YEgFdI/AAAAAAAAt28/BZfXc5eb7JguG4dSRHnRuYpxF7q1IoskACPcBGAYYCw/s1600/20180506_051727.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    line-height: 600px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}